$title-font: 'Libre Baskerville', serif;
$title-h1-size: 72px;
$text-font: 'Montserrat', sans-serif;

.portfolio {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    .portfolio-header {
        width: 100%;
        position: relative;
        .portfolio-header-img {
            width: 100%;
        }
        .portfolio-header-logo {
            position: absolute;
            width: 730px;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            top: 15%;
            width: 155px;
        }
        .portfolio-header-text {
            position: absolute;
            width: 730px;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            top: 40%;
            text-align: center;
            color: white;
            .portfolio-title {
                font-size: $title-h1-size;
                font-family: $title-font;
                margin-bottom: 16px;
            }
            p {
                font-size: 24px;
                margin: 0;
            }
        }
    }
}
